@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200;400&display=swap');
* {/*ajuste general de margin de la pagina para que no quede borde*/
    margin: 0;
}
body, section{ /*propiedades compartidas del body y section*/
    height: 100vh; /*medidas de viewport, se ve segun la pantalla*/
    width: 100vw; /*medida de viewport, se ve segun la pantalla*/
    background-color: #C4DDFF;
}
header {
    height: 100%;
    width: 100%;
    padding: 2%;
    justify-content: center;
    background-color: #0080BD;
    text-align: center;
    color: white;
}
h1 { /*Titulo del header*/
    font-family: 'Permanent Marker', cursive;
    font-size: 5 em;
}
p { /*Todos los parrafos*/
    font-family: 'Mali', cursive;
    font-size: 1.2 em;
    white-space: pre-line;
    color: #3D56B2;
}
header p, #characters, #gender, #species{
    font-family: 'Mali', cursive;
    font-size: 2 em;
    color: white;
}
.containerArrow {/*contenedor de flechita*/
    display: flex;
    justify-content: center;
}
.arrow-down { /*flechita superior abajo del header*/
    width: 0;
    height: 0;
    border-left: 10em solid transparent;
    border-right: 10em solid transparent;
    border-top: 3em solid #0080BD;
}
h2 {/*Todos los h2*/
    padding: 4% 0% 2% 0%;
    margin-left: 15%;
    font-family: 'Permanent Marker', cursive;
    font-size:  4 em;
    font-weight: bold;
    color: #3D56B2;
}
section p { /*propiedades de los p contenidos en los section*/
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 10%;
    font-weight: normal;
    font-size: 1.2 em;
    color: #3D56B2;
}
.articleToLeft { /*para que los articulos o parrafos de las dos secciones queden al lado izquierdo y la imagen a la*/
    width: 60%;
    float: left;
    margin-left: 5%;
}
.containerImg { /*contenedor de objetos centrados y contenedor de imagenes centradas*/
    display: flex;
    justify-content: center;  
    padding-top: 10%;
}
#calcifer, #pinkTotoro, #mononoke {/*tamaño de las imagenes*/
    height: 20%;
    width: 20%;
}
.containerGif { /*gif motitas de polvo*/
    display: flex;
    justify-content: center; 
    padding-top: 0%;
}
.containerEnd{/*contenedor de imagenes a la derecha*/
    display: flex;
    justify-content: flex-end;
    margin-right: 10%; 
}
.section2 {
    height: 100%;
    width: 100%;
    margin-top: 10%;
    background-color: #7FB5FF; /*Fondo de otro tono o color */
}
.containerCovers { /*gif motitas de polvo*/
    display: flex;
    justify-content: center; 
    padding-top: 0%;
}
    .posterImages { /*imagenes de peliculas*/
    padding: 2%;
    height: 15%;
    width: 15%;
    border-radius: 15%;
    }
#search{ /*buscador de películas*/
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
    input[type=search]{ 
        height:40px;
        width: 250px;
        border: 1.5px solid #398AB9;
        border-radius: 10%;
        font-size:large;
    }
    .smallImg {/*imagenes chiquitas*/
        height: 10%;
        width: 10%;
    }
.filters { /*para que el filtrado quede centrado en grupo en la parte de arriba*/
       display: flex;
        align-items: flex-start;
        flex-direction: row;
        margin-top: 10%;
        height: 100vh;
        width: 100%;
        justify-content: space-evenly;
    }
    #characters, #gender, #species{ /*características de personajes, género y especies para darle estilo*/
        height:40px;
        width: 250px;
        border: 1.5px solid #398AB9;
        border-radius: 10px;
        font-size:large;
        background-color: #398AB9;
    }
.arrowEnd{/*contenedor de flechita*/
        display:flex;
       margin-left: auto;
       margin-right: auto;
        width: 0;
        height: 0;
        border-left: 15em solid transparent;
        border-right: 15em solid transparent;
        border-bottom: 2em solid #0080BD;
    }
nav p { /*título redes sociales*/
        text-align:center;
        color: white;
    }
    .elementsNav{ /*nav del footer*/
        background-color: #0080BD;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .fa-brands{ /*Son los íconos de redes sociales*/
        font-size: 40px;
        color:white;
    }

/*tablet*/
@media (max-width: 1024px) and (min-width: 426px){
    #chihiroGif{
        display: none;
    }

    h1 {
        font-size: 10 em;
    }

    header p{
        font-size: 1.2 em;
    }

    h2{
     padding: 10% 0% 4% 0%;
     margin-left: 15%;
    }

    section p{
        padding-top: 2% 0% 2% 0%;
        margin-right: 5%;
    }

    .articleToLeft { /*para que los articulos o parrafos de las dos secciones queden al lado izquierdo y la imagen a la*/
       justify-content: center;
        width: 100%;
       margin-left: 0;
       
    }
}

