    @import url('https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@700&display=swap');
body {
    width: 100vw;
    margin-bottom: 20px;
    background-image: url(https://cutewallpaper.org/22/harry-potter-map-wallpapers/1594625280.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    font-family: 'Oswald';
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #f0ead2;
}

@media screen and (min-width: 430px) {
    /*body media query*/
    body {
        width: 100vw;
        margin-top: 20px;
        /*margin-bottom: 30px;*/
        background-image: url(https://cutewallpaper.org/22/harry-potter-map-wallpapers/1594625280.jpg);
        background-position: center;
        /* background-size: cover;*/
        background-repeat: repeat;
    }
}

h1 {
    font-family: "Oswald";
    font-weight: 600;
    font-size: 28px;
    line-height: 20px;
    text-align: center;
    color: #f0ead2;
}

@media screen and (min-width: 430px) {
    h1 {
        font-family: "Oswald";
        font-weight: 600;
        font-size: 40px;
        padding: 13px;
        text-align: center;
        color: #f0ead2;
    }
    p {
        font-family: "Oswald";
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        color: #f0ead2;
    }
    .contenedor {
        width: 80%;
        height: 100vh;
        top: 5%;
        margin: 0 auto;
        background: #471A1B;
        mix-blend-mode: normal;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
    @media screen and (min-width: 430px) {
        /*contenedor media query*/
        .contenedor {
            width: 80%;
            height: 100vh;
            top: 5%;
            margin: 0 auto;
            background: #471A1B;
            mix-blend-mode: normal;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
        }
    }
    /*ul es la lista que esta dentro de la etiqueta nav que tiene el id menu*/
    #menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    @media screen and (min-width: 430px) {
        #menu ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
    /*li son los elementos de la lista*/
    #menu ul li {
        float: left;
    }
    @media screen and (min-width: 430px) {
        #menu ul li {
            float: left;
        }
    }
    #menu a {
        text-decoration: none;
        color: #721d1d;
        display: block;
        padding: 20px 50px;
        font-family: "Oswald";
        font-size: 20px;
        position: relative;
        justify-content: center;
    }
    @media screen and (min-width: 430px) {
        #menu a {
            text-decoration: none;
            color: #721d1d;
            display: block;
            padding: 20px 50px;
            font-family: "Oswald";
            font-size: 20px;
            position: relative;
            justify-content: center;
        }
    }
    #menu {
        background: #fcbf49;
        width: 80%;
        height: 10%;
        padding: 5px 5px 9px 5px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 430px) {
        #menu {
            background: #fcbf49;
            width: 80%;
            height: 10%;
            padding: 5px 5px 9px 5px;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .barra {
        color: #fcbf49;
        padding: 15px 0 0 0;
    }
    @media screen and (min-width: 430px) {
        .barra {
            color: #fcbf49;
            padding: 15px 0 0 0;
        }
    }
    #menu a:hover {
        color: #f9eae1;
        background: #591310;
        opacity: 0.9;
    }
    @media screen and (min-width: 430px) {
        #menu a:hover {
            color: #f9eae1;
            background: #591310;
            opacity: 0.9;
        }
    }