button {
    position: center;
    justify-content: center;
    width: 224px;
    height: 51px;
    left: 224x;
    margin-top: 5%;
    color: #FFFFFF;
    
    background: #380000;;
    border-radius: 69px;
    font-style: normal;
    font-size: px;
    }
   
